/RubyLexer/nbproject/private/
/RubyLexer/build/
/Amala/nbproject/private/
/Amala/build/
/Amala/dist/
/RestS/nbproject/private/
/WebApplication1/nbproject/private/
/RestS/build/
/ClientS/nbproject/private/
/ClientS/build/
/ClientS/dist/
/CorbaServer/nbproject/private/
/CorbaClient/nbproject/private/
/CorbaServer/build/
/CorbaServer/dist/
/Hello/nbproject/private/
/CorbaCalculator/nbproject/private/
/CorbaCalculator/build/
/CorbaCalculator/dist/