/RubyLexer/nbproject/private/
/RubyLexer/build/
/Amala/nbproject/private/
/Amala/build/
/Amala/dist/
/RestS/nbproject/private/
/WebApplication1/nbproject/private/
/RestS/build/
/ClientS/nbproject/private/
/ClientS/build/
/ClientS/dist/
/CorbaServer/nbproject/private/
/CorbaClient/nbproject/private/
/CorbaServer/build/
/CorbaServer/dist/
/Hello/nbproject/private/
/CorbaCalculator/nbproject/private/
/CorbaCalculator/build/
/CorbaCalculator/dist/
/Exp4j/nbproject/private/
/Exp4j/build/
/soa/nbproject/private/
/soa/build/
/soac/nbproject/private/
/soacc/nbproject/private/
/soacc/build/
/CorbaCalcO/nbproject/private/
/CorbaCalcO/build/
/NEX/nbproject/private/
/CorbaAuctionSystem/nbproject/private/
/CorbaAuctionSystem/build/
/neo4j/nbproject/private/
/neo4j/build/
/CorbaAuctionSystem/dist/
/Server/nbproject/private/
/Server/build/